* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  width: 50%;
  margin: 10% auto;
  text-align: center;

}
.counter h2 {
  font-size: 30px;
  box-shadow: 10px 10px 8px #888888;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}

.counter h1  {
  font-size: 25px;;
}

.start-btn {
  margin-top:20px;
  padding: 10px 50px 10px 50px;
  max-width: 200px;
  border-radius: 5px;
  background-color: rgb(117, 6, 207);
  color: white;
  cursor: pointer;
  font-weight: bold;
  
}

.stop-btn {
  margin-top:20px;
  padding: 10px;
  max-width: 200px;
  border-radius: 5px;
  background-color: rgb(207, 6, 90);
  color: white;
  cursor: pointer;
  
}